* {margin: 0;padding: 0;}

html 
{
	width: 100%;
	height: 100%;
	background-color: #FFFFCC;
}

body
{
	margin: 2%;
	margin-top: 0;
	width: 96%;
	height: 96%;
	border: 0;
}

.body, .body thead, .body tbody, .body tfoot, .body tr, .body td
{
	display: block;
}

.body
{
	min-height: 100%;
}

.header
{
	display: block;
	padding-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-bottom: 5px;
}

.title
{
	font-size: 300%;
}

.marker
{
	font-size: 100%;
	display: block;
	padding: 2px 0 ;
	/*position: relative;
	left: -2.2%;
	top: -5px;*/
	/*width: 104.4%;
	border: 3px rgba(102, 153, 153, 0.6) solid;*/
}

.marker_school a
{
	background: transparent;
	text-decoration: none;
	color: #000;
	border: 3px #669999 solid;
	border-radius: 0 5px 5px 0;
	border-left: 0;
	padding: 2px 10px 2px 10px;
	position: relative;
	left: -15px;
}

/*
.marker_faculty a
{
	text-decoration: none;
	color: #000;
	border: 3px rgba(102, 153, 153, 0.6) solid;
	border-right: 0;
	padding: 2px 0px 2px 0px;
	float: right;
	border-radius: 10px 0 0 10px;
	width: 154px;
	text-align: center;
}*/

.top_img
{
	border: 3px #669999 solid;
	background: #fff;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	margin-left: 5px;
	position: relative;
	top: 6px;
	padding-left: 3px;
	padding-right: 3px;
	
}

.top_img img
{
	position: relative;
	left: 0px;
	top: -1px;
	width: 8px;
	height: 12px;
}

/*
.drop_img
{
	border: 3px rgba(102, 153, 153, 0.6) solid;
	background: #fff;
	border-top: 0;
	border-radius: 0;
	margin-left: 5px;
	text-align: left;
	position: relative;
	left: -33px;
	top:	-7px;
	padding-left: 3px;
	padding-right: 3px;
}

.drop_img img
{
	position: relative;
	left: 0.3px;
	top: 1px;
	width: 8px;
	height: 12px;
}

.rule
{
	margin-top: 26px;
	border-top: 3px #669999 solid;
}
*/

.container
{
	border: 0;
	border-top: 3px #669999 solid;
	border-bottom: 3px #669999 solid;
	min-height: 70%;
	margin-bottom: 10px;
	padding: 10px;
}

.contained_list
{
	list-style: none;
}

.contained_list li a
{
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.4);
	padding: 10px;
	font-size: 20pt;
	color: rgba(0, 0, 0, 0.6);
	background-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 5px;
	text-decoration: none;
}

.contained_list li:hover a
{
	background-color: rgba(255, 255, 255, 0.6);
}

.footer {margin: auto 0 0 0;}


.future_info
{
	display: table;
	margin-left: auto;
	margin-right: 20px;
}

hr
{
	height: 0.1px;
	border-color: #669999;
	background-color: white;
}

.no_cookie
{
	position: fixed;
	left: 0;
	top:0;
	background: rgba(255, 190, 190, 0.8);
	padding-bottom: 10px;
	width: 100%;
	font-weight: bold;
	z-index: 10;
	text-align: justify;
	border-bottom: 3px outset #fff;
}
