.input
{
	max-width: 700px;
	background-color: black;
	color: white;
	font-size: 1.5em;
	display: table;
	margin-left: 20%;
}
.inputCol
{
	;
}
.simpleInput 
{
	width: 1em;
	padding: 0 0em 3px 0.5em;
	border: 0;
	font-size: 1em;
	border: 1px black solid;
	border-radius: 10px;
	outline: 0;
}
.sup, .sub {
vertical-align: baseline;
position: relative;
font-size: 0.4em;
bottom: 1.5em;
}
.sub {
top: 0.4em;
}
.plus
{
	padding: 0 0.4em 0 0.4em;
}
.smallerInput
{
	font-size: 0.7em;
	padding-left: 0;
}
